################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DXGL-FRAMEWORK/glm/glm/out/build/x64-Debug/CMakeFiles
/DXGL-FRAMEWORK/glm/glm/out/build/x64-Debug
